* {
box-sizing: border-box;
padding: 0;
margin: 0;

}

body {
font-family: sans-serif;

}

main {
padding: 0 64px;
background: #222;
display: flex;
align-items: center;
justify-content: space-between;
min-height: 100vh;
gap: 20px;

}

header nav {
background: #222;
padding: 5px 20px;

}

header ul {
list-style-type: none;

}

header a {
color: white;
text-decoration: none;
transition:all 500ms ease;
padding: 10px 20px
}

a {
text-decoration: none;

}

header a:hover {
text-decoration: none;
background:#f56f3a;
border-radius:200px;
}

logo a:hover {
text-decoration: none;

}

.menu li {
font-size: 16px;
padding: 15 px 5px;
white-space: nowrap;

}

.logo a, toggle a {
font-size: 20px;

}



/* Flexbox */

.menu {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
}





.item {
display: block;
width: auto;

}

.imagen img {
width: 37.5em;
height: auto;
border-radius: 1em;

}

.toggle {
display: none;
}

.logo img {
width: 100px;
height: auto;

}

.logo {
order: 0;

}

.item {
order: 1;

}

.button {
order: 3;

}

.menu li {
padding: 15px 10px;

}

.menu li button {
padding-right: 0;

}

/* flexbox 2 */

.info-principal
{
display: flex;
flex-direction: column;
align-items: flex-start;
}

.info-principal .titulo
{
font-size: 48px;
color: white;

}

.info-principal .descripcion-principal

{

color: white;
}

.boton {
background: red;
margin: 1em 0;
display: inline-block;
border-radius: 0.5em;
padding: 6px 32px;
color: white;

}

.footer {
display: flex;
justify-content: center;
}